@charset "UTF-8";

/* paleta de cores 

verde: #49a09d
lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {

    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {

    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449) ;
    transition: width .3s, height .3s; 

}

section#login > div#imagem {

    background: #5f2c82 url(../imagens/construção.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;
}

section#login > div#formulario {

    text-align: left;
    
}
section#login > div#formulario > h1 {

    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 1em;
}

section#login > div#formulario > p {

   font-size: 0.8em;
   padding-left: 10px;
}

form > input[type=submit] {

    display: block;
    font-size: 1em;
    width: 95%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

form > div.campo {

    background-color: #863eb7;
    display: block;
    width: 95%;
    height: 40px;
    border-radius: 8px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.campo > label {

    display: none;
}

div.campo > i {

    color: white;
    background-color: #863eb7;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

div.campo > input {

    background-color:#65dcd8;
    font-size: 1em;
    height: 100%;
    transform: translateY(-9px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    width: calc(100% - 45px);


}

div.campo > input:focus-within {

    background-color: white;
}

form > input[type=submit]:hover {

    background-color: #326c6a;
}

form > a.botao {

    display: block;
    text-align: center;
    font-size: 1em;
    width: 95%;
    margin: auto;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    color: #326c6a;
    border: 1px solid #326c6a;
    border-radius: 5px;
    text-decoration: none;

}

form > a.botao > i {

    font-size: 0.8em;

}

form > a.botao:hover {

    background-color:#65dcd8;

    }